/*! Building Interfaces HTML5 template */
/* ==========================================================================
   Custom styles
   ========================================================================== */

h1 {
    font-family: 'Squada One', cursive;
    font-size: 2.5em;
    color: #CC9900;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.92em;
    color: #CC9900;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

ol li {
    margin-bottom: .5em;
    line-height: normal;
}

ol,
ul {
    max-width: 21.67em;
}

ol,
ul,
p {
    padding-left: 1.5em;
    padding-right: 1.5em;
    color: #FFFFFF;
}

figcaption {
    color: #B2B2B2;
    font-size: .75em;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    height: auto;
}

table caption {
    color: #CCCC99;
}

.info {
 list-style-type: none; 
}

.equipment :first-child {
 list-style-type: none; 
}

.ingredients {
    padding-left: 2em;
    padding-right: 2em;
}

.flex {
    display: flex;
    flex-direction: column;
}

.instr_imgs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Mobile */

@media only screen and (max-width: 667px) {
    html {
        background: url('../assets/wood.jpg') no-repeat center center fixed;
        background-size: cover;
        margin: 0 auto;
        max-width: 380px;
    }
    body,
    caption {
        font-family: 'Titillium Web', sans-serif;
        font-size: 19px;
        line-height: 200%;
    }
    table {
        padding-left: 1.4583em;
        padding-right: 1.4583em;
        color: #FFFFFF;
        width: 13.3333em;
        text-align: center;
    }
    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .plateimg {
   margin-top: 1em;
}
    .ingredients {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .preparation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .preparation img {
        max-width: 90%;
    }
    .instructions {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .serving {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
}

/* Intermediate */

@media only screen and (min-width: 668px) {
    html {
        background: url('../assets/wood.jpg') no-repeat center center fixed;
        background-size: cover;
        margin: 0 auto;
        max-width: 960px;
    }
    body
    {
        font-family: 'Titillium Web', sans-serif;
        font-size: 24px;
        line-height: 200%;
    }
    
    caption {
        font-family: 'Titillium Web', sans-serif;
        font-size: 24px;
        line-height: 200%;
        text-align: left;
    }
    table {
        padding-left: 1.4583em;
        padding-right: 1.4583em;
        color: #FFFFFF;
        width: 13.3333em;
        text-align: left;
    }
    .about {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }
            .plateimg {
   margin-top: 2.3em;
}
    .ingredients {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .preparation {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .instructions {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .serving {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}