/*! Building Interfaces HTML5 template */
/* ==========================================================================
   Custom styles
   ========================================================================== */

html {
    background: url('../img/chalkboard.jpg') repeat center center fixed;
    /*    Background Credit: http://thepatternlibrary.com/#chalkboard*/
    
    background-size: contain;
    margin: 0 auto;
}

body {
    width: auto;
    text-align: center;
}

#icons {
    margin-left: 5%;
}

h1 {
    color: white;
    font-family: 'Rokkitt', serif;
    font-size: 52px;
}

h2 {
    color: white;
    font-family: 'Rokkitt', serif;
    font-size: 36px;
}

p {}

/*button styling credit: http://css3buttongenerator.com/*/
button {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #111;
    padding: 10px 20px 10px 20px;
    border: solid #333 1px;
    text-decoration: none;
    width: 7em;
    margin: .3em;
}

button:hover {
    background: #444444;
    text-decoration: none;
}

#start_over:hover {
    background: darkred;
    text-decoration: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Mobile */

@media only screen and (min-width: 480px) {}
/* Intermediate */

@media only screen and (min-width: 768px) {}
/* Wide */

@media only screen and (min-width: 1140px) {}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}