/*! Building Interfaces HTML5 template */
/*
font-family: 'Roboto', sans-serif;
font-family: 'Lobster Two', cursive;

font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Roboto', sans-serif;

font-family: 'Oswald', sans-serif;
font-family: 'Oswald', sans-serif, font-weight: 300;
font-family: 'Kreon', serif;
font-family: 'Domine', serif;

font-family: 'Lobster Two', cursive;
font-family: 'Cambo', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif;
*/
/* ==========================================================================
   Custom styles
   ========================================================================== */
 body{
  -webkit-font-smoothing: antialiased;
 }

/*Home Page Styles*/

nav {
    background: #333333;
    box-shadow: 0px .3em 1em #222222;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    color: #EF4036;
    text-decoration: none;
}

nav a:active {
    color: #EF4036;
    text-decoration: none;
}

.navigation {
    position: fixed;
    width: 100%;
    z-index: 9;
    color: #f2f2f2;
    /*
     background: url('../assets/graphics/nav.png') no-repeat;
    background-size: contain;
    background-position: top;
*/
}

.navigation ul {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6em;
    margin: auto;
    text-align: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation li {
    justify-content: center;
    margin: auto;
}

.navigation li:nth-child(3) {
    font-family: 'Lobster Two', cursive;
    font-size: 1.55em;
}

#homeid h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 5em;
    color: #FFFFFF;
    position: relative;
    /*    text-shadow: 1px 1px 1px #000;*/
    
    text-shadow: .015em .015em .015em #000;
    text-align: center;
    margin-bottom: 0em;
}

#homeid h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 1.8em;
    color: #FFFFFF;
    position: relative;
    text-shadow: .018em .018em .018em #000;
    text-align: center;
    line-height: .8em;
}

#homeid ul {
    list-style-type: none;
}

.headers li:nth-child(3) {
    margin-bottom: 30em;
}
/*Us Page Styles*/

#usid {
    background: #828282;
}

#ourstory p {
    margin-top: 0em;
    line-height: 1.5em;
    /*    max-width: 43%;*/
    
    height: auto;
    font-family: 'Cambo', serif;
    font-size: 1.4em;
    text-align: left;
    color: #FFFFFF;
    text-indent: 1.5em;
}

.story {
    margin-left: 3.4em;
    max-width: 45.5%;
    max-height: 80%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: scroll;
}

.slide_headers {
    max-width: 50%;
    font-family: 'Lobster Two', cursive;
    font-size: 2.5em;
    text-align: center;
    color: #333333;
    margin-bottom: .2em;
    vertical-align: text-top;
    margin-top: 1.5em;
}

.slide_list {
    font-family: 'Cambo', serif;
    font-size: 1.4em;
    color: #FFFFFF;
    list-style-type: none;
    max-width: 43%;
    margin-left: 1em;
    max-height: 80%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: scroll;
}

.slide_list p {
    margin-top: 0em;
    height: auto;
    text-align: left;
    color: #FFFFFF;
    text-indent: 1.5em;
}

.slide_list li {
    margin-bottom: 1em;
    line-height: 1.5em;
}

.slide_list li span {
    font-family: 'Lobster Two', cursive;
    font-size: 1.1em;
    color: #333333;
}
/*Bridesmaids Page Styles*/

#bridesmaidsid {
    background: #D4D4D4;
}

#bridesmaidsid .slide_list {
    color: #333333;
    overflow-y: scroll;
    -webkit-overflow-scrolling: scroll;
}

#bridesmaidsid .slide_list p {
    color: #333333;
}

#bridesmaidsid .slide_headers {
    color: #EF4036;
}

#bridesmaidsid .slide_list li span {
    color: #EF4036;
}

#bridesmaidsid li {
    margin-bottom: 1em;
    line-height: 1.5em;
}
/*Groomsmen Page Styles*/

#groomsmenid {
    background: #828282;
}
/*Wedding Day Page Styles*/

.weddingday, #weddingdayid {
    background: #D4D4D4;
    display: block;
    align-items: center;
    margin-top: 1em;
    align-content: center;
    text-align: center;
}

#weddingdayid h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 2.5em;
    text-align: center;
    color: #EF4036;
    vertical-align: text-top;
    margin-top: 1.5em;
    position: relative;
}

#weddingdayid h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 1.7em;
    color: #333333;
    list-style-type: none;
    margin-left: 0em;
    text-align: center;
}

#weddingdayid ul {
    font-family: 'Cambo', serif;
    font-size: 1.4em;
    color: #FFFFFF;
    list-style-type: none;
    line-height: 1em;
    text-align: center;
    -webkit-text-align: center;
    -moz-text-align: center;
    -ms-text-align: center;
    -o-text-align: center;
}

#weddingdayid li span {
    font-family: 'Lobster Two', cursive;
    font-size: 1.29em;
    color: #EF4036;
}

#weddingdayid .dayof-row1 li,
#weddingdayid .dayof-row2 li{
    margin-right: 3em;
    color: #333333;
    display: inline;
}

#weddingdayid a {
    color: #333333;
    text-decoration: none;
}

#weddingdayid a:hover {
    color: #EF4036;
    text-decoration: none;
}

#weddingdayid a:visited {
    color: #EB5851;
    text-decoration: none;
}


.link {
    border-bottom: thin dotted #FFFFFF;
}
/*Adding background for the slides
	* --------------------------------------- */

#homeid {
    background: url('../assets/couple/sunset_sketch.jpg') no-repeat center center;
    background-size: cover;
    background-size: 100% 100%;
    padding: 30% 0 0 0;
}

#ourstory {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    background: url('../assets/couple/jv2.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
}

#joshua {
    background: url('../assets/couple/josh.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#vanessa {
    background: url('../assets/couple/vanessa.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#valeria {
    background: url('../assets/bridesmaids/valeria.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#daphne {
    background: url('../assets/bridesmaids/daphne.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#lia {
    background: url('../assets/bridesmaids/lia.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#vanesita {
    background: url('../assets/bridesmaids/vanesita.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
}

#carrie {
    background: url('../assets/bridesmaids/carrie.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    align-items: flex-start;
}

#luke {
    background: url('../assets/groomsmen/luke.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#jodo {
    background: url('../assets/groomsmen/jodo.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#joseph {
    background: url('../assets/groomsmen/joseph.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#gal {
    background: url('../assets/groomsmen/gal.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#bfell {
    background: url('../assets/groomsmen/bfell.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
}

#ceremony {
    background: url('../assets/graphics/floral_bottom.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

#reception {
    background: url('../assets/graphics/floral_bottom.png') no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}

#church_map {
    display: block;
    width: 60%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    border-style: groove;
    border-width: thick;
    border-color: white;
    margin-bottom: 6em;
}

#reception_map {
    display: block;
    width: 60%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    border-style: groove;
    border-width: thick;
    border-color: white;
    margin-bottom: 6em;
}

fp-tableCell {
    width: 100vw;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
  border: 2px solid #EF4036;
  background: transparent;
    display: inline;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span {
    background: #333;
    display: inline;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Mobile */

@media only screen and (min-width: 415px) {
    .navigation ul {
        font-size: 2.5 em;
    }
    body {
        font-size: 8px;
    }
    .story {
        margin-left: 6.5em;
        max-width: 40%;
        max-height: 80%;
    }
    .slide_headers {
        margin-top: 1.3em;
    }
    .slide_list {
        max-width: 40%;
        margin-left: 1em;
        max-height: 75%;
    }
    #church_map {
        width: 50%;
        height: 40%;
    }
    #reception_map {
        width: 50%;
        height: 40%;
    }
}
/* Intermediate */

@media only screen and (min-width: 668px) {
    body {
        font-size: 16px;
    }
    .slide_list {
        max-width: 44%;
        margin-left: 1em;
        max-height: 75vh;
    }
    .story {
        margin-left: 4em;
        max-width: 44%;
        max-height: 80%;
    }
}
/* Wide */

@media only screen and (min-width: 1300px) {
    body {
        font-size: 22px;
    }
}
/*Mobile Portrait*/

@media only screen and (max-width: 415px) {
    #homeid {
        background: url('../assets/graphics/portrait.jpg') no-repeat;
        background-size: 100%, 100%;
        background-position: center;
    }
    .navigation ul {
        font-size: 0em;
    }
    #homeid h1 {
        font-size: 0em;
    }
    #homeid h2 {
        font-size: 0em;
    }
}
/* IE */

      html[data-useragent*='MSIE 10.0'] .slide_list {
        max-height: 30%;
    }

  html[data-useragent*='MSIE 11.0'] .slide_list {
        max-height: 30%;
    }
   
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}