/*! Building Interfaces HTML5 template */
/*
font-family: 'Roboto', sans-serif;
font-family: 'Lobster Two', cursive;

font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Roboto', sans-serif;

font-family: 'Oswald', sans-serif;
font-family: 'Oswald', sans-serif, font-weight: 300;
font-family: 'Kreon', serif;
font-family: 'Domine', serif;
*/
/* ==========================================================================
   Custom styles
   ========================================================================== */
/*Home Page Styles*/

nav {
    background: #333333;
    box-shadow: 0px 10px 25px #222222;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
}

nav a:hover {
    color: #EF4036;
    text-decoration: none;
}

.navigation {
    position: fixed;
    width: 100%;
    z-index: 9;
    color: #f2f2f2;
}

.navigation ul {
    display: flex;
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    font-size: 16pt;
    vertical-align: inherit;
    margin: auto;
}

.navigation li {
    margin: auto;
}

.navigation li:nth-child(3) {
    font-family: 'Lobster Two', cursive;
    font-size: 28pt;
}

#homeid {
    background: url('../assets/couple/tahoe_branch.jpg') no-repeat center center;
    background-size: cover;
    padding: 30% 0 0 0;
}

#homeid h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 60pt;
    color: #FFFFFF;
    position: relative;
    top: -28%;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}

#homeid h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 20pt;
    color: #FFFFFF;
    position: relative;
    top: -35%;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}

/*Us Page Styles*/
#usid {
    background: #828282;
}

#usid p {
    margin-top: 0em;
    line-height: 1.4em;
    max-width: 44%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    text-align: left;
    margin-left: 55px;
    color: #FFFFFF;
    text-indent: 30px;
}

.slide_headers {
    max-width: 50%;
    font-family: 'Lobster Two', cursive;
    font-size: 30pt;
    text-align: center;
    color: #333333;
    margin-bottom: .2em;
    vertical-align: text-top;
    margin-top: 1.5em;
}

.slide_list {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color: #FFFFFF;
    list-style-type: none;
    max-width: 44%;
    margin-left: 1em;
}

.slide_list li {
    margin-bottom: 1em;
    line-height: 1.4em;
}

.slide_list li p {
    margin-top: 0em;
    line-height: 1.4em;
    max-width: 44%;
    height: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14pt;
    text-align: left;
    margin-left: 55px;
    color: #FFFFFF;
    text-indent: 30px;
}

.slide_list li span {
    font-family: 'Lobster Two', cursive;
    font-size: 18pt;
    color: #333333;
}
/*Bridesmaids Page Styles*/

#bridesmaidsid {
    background: #D4D4D4;
}

#bridesmaidsid .slide_list {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color: #333333;
    list-style-type: none;
    max-width: 44%;
    margin-left: 1em;
}

#bridesmaidsid .slide_headers {
    margin-top: 1em;
    max-width: 50%;
    font-family: 'Lobster Two', cursive;
    font-size: 30pt;
    text-align: center;
    color: #EF4036;
    margin-bottom: .2em;
    vertical-align: text-top;
    margin-top: 1.5em;
}

#bridesmaidsid .slide_list li span {
    font-family: 'Lobster Two', cursive;
    font-size: 18pt;
    color: #EF4036;
}
/*Groomsmen Page Styles*/

#groomsmenid {
    background: #828282;
}
/*Wedding Day Page Styles*/

#weddingdayid {
    background: #D4D4D4;
    display: flex;
    margin-top: 1em;
}

#weddingdayid h1 {
    font-family: 'Lobster Two', cursive;
    font-size: 30pt;
    text-align: center;
    color: #EF4036;
    margin-bottom: .2em;
    vertical-align: text-top;
    margin-top: -1em;
}

#weddingdayid h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 20pt;
    color: #333333;
    list-style-type: none;
    margin-left: 0em;
    text-align: center;
}

#weddingdayid ul {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color: #FFFFFF;
    list-style-type: none;
    margin-left: 1em;
    text-align: center;
    display: flex;
    justify-content: center;
}

#weddingdayid li span {
    font-family: 'Lobster Two', cursive;
    font-size: 18pt;
    color: #EF4036;
}

#weddingdayid li {
    margin-right: 3em;
    color: #333333;
}

#weddingdayid a {
    color: #FFFFFF;
    text-decoration: none;
}

#weddingdayid nav a:hover {
    color: #EF4036;
    text-decoration: none;
}

#weddingdayid a:visited {
    color: #EB5851;
    text-decoration: none;
}
/*Adding background for the slides
	* --------------------------------------- */

#ourstory {
    display: flex;
    flex-direction: row;
    background: url('../assets/couple/jv2.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
}

#joshua {
    background: url('../assets/couple/josh.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#vanessa {
    background: url('../assets/couple/vanessa.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#valeria {
    background: url('../assets/bridesmaids/valeria.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#daphne {
    background: url('../assets/bridesmaids/daphne.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#lia {
    background: url('../assets/bridesmaids/lia.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#vanesita {
    background: url('../assets/bridesmaids/vanesita.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#carrie {
    background: url('../assets/bridesmaids/carrie.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#luke {
    background: url('../assets/groomsmen/luke.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#jodo {
    background: url('../assets/groomsmen/jodo.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#joseph {
    background: url('../assets/groomsmen/joseph.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#gal {
    background: url('../assets/groomsmen/gal.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#bfell {
    background: url('../assets/groomsmen/bfell.jpg') no-repeat;
    background-size: 50% 100%;
    background-position: right;
    display: flex;
}

#ceremony {
   background: url('../assets/graphics/floral_bottom.png') no-repeat;
    background-size: contain;
    background-position: bottom;
}

#reception {
     background: url('../assets/graphics/floral_bottom.png') no-repeat;
    background-size: contain;
    background-position: bottom;
}

#church_map {
    display: block;
    width: 60%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    border-style: groove;
    border-width: thick;
    border-color: white;
}

#reception_map {
    display: block;
    width: 60%;
    height: 50%;
    margin-right: auto;
    margin-left: auto;
    border-style: groove;
    border-width: thick;
    border-color: white;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Mobile */

@media only screen and (min-width: 480px) {}
/* Intermediate */

@media only screen and (min-width: 768px) {}
/* Wide */

@media only screen and (min-width: 1140px) {}
/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}